.button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 71px;
	width: 220px;
	height: 56px;
	font-family: 'Gilroy';
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.04em;
	color: #FFFFFF;
	border-color: #5A98D0;
	background: #5A98D0;
	box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
	border-radius: 10px;
	text-decoration: none;

	&_footer {
		box-shadow: none;
		margin-top: 0;

		&:hover {
			box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
		}
	}
}