@import "//db.onlinewebfonts.com/c/d1243736bfe07b546f8f1e54e7804afb?family=Galien";

@font-face {
  font-family: "Galien";
  src: url("//db.onlinewebfonts.com/t/d1243736bfe07b546f8f1e54e7804afb.eot");
  src: url("//db.onlinewebfonts.com/t/d1243736bfe07b546f8f1e54e7804afb.eot?#iefix") format("embedded-opentype"),url("//db.onlinewebfonts.com/t/d1243736bfe07b546f8f1e54e7804afb.woff2") format("woff2"),url("//db.onlinewebfonts.com/t/d1243736bfe07b546f8f1e54e7804afb.woff") format("woff"),url("//db.onlinewebfonts.com/t/d1243736bfe07b546f8f1e54e7804afb.ttf") format("truetype"),url("//db.onlinewebfonts.com/t/d1243736bfe07b546f8f1e54e7804afb.svg#Galien") format("svg");
}

.container {
  width: 1162px;
  margin: 0 auto;
}

.container_promo {
  display: flex;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto;
  width: 1200px;
}

.header .logo {
  display: block;
}

.header .hamburger {
  width: 24px;
}

.header .hamburger span {
  display: block;
  margin-bottom: 4px;
  width: 100%;
  height: 3px;
  background: #356ead;
}

main {
  width: 1366px;
  margin: 0 auto;
}

.promo {
  min-height: 680px;
  background: linear-gradient(0deg, #98C3E8 -237.16%, rgba(152, 195, 232, 0) 58.12%);
}

.promo-info {
  min-height: 389px;
  margin-left: 212px;
  width: 510px;
}

.promo-info__title {
  width: 510px;
  font-family: "Galien";
  font-size: 64px;
  line-height: 74px;
  letter-spacing: .04em;
  color: #1f3f68;
}