@import "//db.onlinewebfonts.com/c/d1243736bfe07b546f8f1e54e7804afb?family=Galien";

@font-face {
  font-family: "Galien";
  src: url("//db.onlinewebfonts.com/t/d1243736bfe07b546f8f1e54e7804afb.eot");
  src: url("//db.onlinewebfonts.com/t/d1243736bfe07b546f8f1e54e7804afb.eot?#iefix") format("embedded-opentype"),url("//db.onlinewebfonts.com/t/d1243736bfe07b546f8f1e54e7804afb.woff2") format("woff2"),url("//db.onlinewebfonts.com/t/d1243736bfe07b546f8f1e54e7804afb.woff") format("woff"),url("//db.onlinewebfonts.com/t/d1243736bfe07b546f8f1e54e7804afb.ttf") format("truetype"),url("//db.onlinewebfonts.com/t/d1243736bfe07b546f8f1e54e7804afb.svg#Galien") format("svg");
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-regular.eot");
  src: url("../fonts/gilroy-regular.eot?#iefix") format("embedded-opentype"),url("../fonts/gilroy-regular.woff2") format("woff2"),url("../fonts/gilroy-regular.woff") format("woff"),url("../fonts/gilroy-regular.ttf") format("truetype"),url("../fonts/gilroy-regular.svg#gilroy-regular") format("svg");
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: .05em;
  color: #fff;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.container_promo {
  display: flex;
  justify-content: flex-start;
}

.container_services {
  display: grid;
  gap: 100px;
  grid-template-areas: "title_services services_card1" "services_card2 services_card1" "services_card2 services_card3" ". services_card3";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.container_clients {
  display: grid;
  grid-template-areas: "title descr descr descr" "client1 client2 client3 client4" "client5 client6 client7 more";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 203px 128px 128px;
}

.title {
  font-size: 36px;
  line-height: 46px;
  color: #316099;
}

.title_services {
  width: 358px;
}

.title_card {
  margin-top: 56px;
  font-size: 20px;
  line-height: 30px;
  color: #1f3f68;
}

.title_clients {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  color: #fff;
}

.title_footer {
  width: 317px;
  color: #fff;
}

.title_contacts {
  margin-left: 15px;
  font-size: 28px;
  letter-spacing: .02em;
  color: #fff;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 71px;
  width: 220px;
  height: 56px;
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: .04em;
  color: #fff;
  border-color: #5a98d0;
  background: #5a98d0;
  box-shadow: 5px 10px 20px rgba(53,110,173,.2);
  border-radius: 10px;
  text-decoration: none;
}

.button_footer {
  box-shadow: none;
  margin-top: 0;
}

.button_footer:hover {
  cursor: pointer;
  opacity: .6;
  box-shadow: 5px 10px 20px rgba(53,110,173,.2);
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto;
  width: 1200px;
}

.header .logo {
  display: block;
}

.header .hamburger {
  width: 24px;
}

.header .hamburger span {
  display: block;
  margin-bottom: 4px;
  width: 100%;
  height: 3px;
  background: #356ead;
}

main {
  width: 1366px;
  margin: 0 auto;
}

.promo {
  min-height: 680px;
  background: linear-gradient(0deg, #98C3E8 -237.16%, rgba(152, 195, 232, 0) 58.12%);
}

.promo-info {
  margin-top: 101px;
  min-height: 389px;
}

.promo-info__title {
  width: 510px;
  font-family: "Galien";
  font-size: 64px;
  line-height: 74px;
  letter-spacing: .04em;
  color: #1f3f68;
}

.promo-info__descr {
  margin-top: 32px;
  width: 425px;
  color: #1f3f68;
  opacity: .6;
}

.promo-image {
  position: relative;
  right: 60px;
}

.services {
  padding: 180px 212px 212px 212px;
}

.services__card {
  padding: 0 48px 48px 48px;
  width: 380px;
  height: 525px;
  background: #fff;
  box-shadow: 5px 20px 50px rgba(16,112,177,.2);
  border-radius: 10px;
}

.services__card1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  grid-area: services_card1;
}

.services__card1 img {
  position: relative;
  bottom: 70px;
}

.services__card1 .title_card {
  margin-top: -25px;
}

.services__card2 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: services_card2;
  justify-self: end;
}

.services__card3 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  grid-area: services_card3;
}

.services__card__img {
  display: block;
  margin: 0 auto;
  margin-top: 48px;
}

.services__card__descr {
  margin-top: 16px;
  color: #1f3f68;
  opacity: .6;
}

.services__card__link {
  margin-top: 32px;
  display: flex;
  align-items: baseline;
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
  color: #5a98d0;
  text-decoration: none;
}

.arrow {
  display: inline-block;
  cursor: pointer;
  position: relative;
  width: 16px;
  height: 16px;
  margin-left: 24px;
  padding: 4px;
}

.arrow div {
  position: relative;
  top: 6px;
  width: 16px;
  height: 2px;
  background-color: #5a98d0;
  box-shadow: 0 3px 5px rgba(0,0,0,.2);
  left: 0;
  display: block;
}

.arrow div::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 2px;
  top: -4px;
  right: -1px;
  background-color: #5a98d0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.arrow div::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 2px;
  top: 4px;
  right: -1px;
  background-color: #5a98d0;
  box-shadow: 0 3px 5px rgba(0,0,0,.2);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.arrow:hover {
  -webkit-animation: arrow 1s linear infinite;
  animation: arrow 1s linear infinite;
}

@-webkit-keyframes arrow {
  0% {
    left: 0;
  }

  50% {
    left: 10px;
  }

  100% {
    left: 0;
  }
}

@keyframes arrow {
  0% {
    left: 0;
  }

  50% {
    left: 10px;
  }

  100% {
    left: 0;
  }
}

.title_services {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title_services;
}

.clients {
  padding-top: 96px;
  padding-bottom: 125px;
  height: 1549px;
  border-radius: 200px 0px 0px 0px;
  background: #5a98d0;
}

.clients__descr {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: descr;
  padding-left: 97px;
  padding-right: 50px;
  opacity: .6;
}

.clients__logo_1,
.clients__logo_2,
.clients__logo_3 {
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

.clients__logo_4 {
  border-bottom: 1px solid #fff;
}

.clients__logo_5,
.clients__logo_6,
.clients__logo_7 {
  border-right: 1px solid #fff;
}

.clients__logo-link {
  display: block;
  padding: 40px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  line-height: 46px;
  letter-spacing: .02em;
  color: #fff;
}

.clients__logo-link:hover {
  text-decoration: underline;
}

.clients__more {
  width: 100%;
  height: 100%;
  background-color: rgba(31,63,104,.2);
}

.clients__more a {
  display: block;
  margin-left: 15px;
  text-transform: none;
}

.footer {
  position: relative;
  padding-top: 91px;
  padding-bottom: 64px;
  left: -48px;
  bottom: 869px;
  margin: 0 auto;
  width: 1270px;
  height: 869px;
  background-color: #316099;
  border-radius: 0px 200px 0px 0px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__intro-descr {
  margin-top: 32px;
  width: 460px;
  opacity: .6;
}

.footer__divider {
  display: block;
  position: absolute;
  left: 0;
  margin: 96px 0;
  width: 1105px;
  opacity: .4;
  border: 1px solid #fff;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  margin-top: 192px;
}

.footer__info-contacts span {
  margin-right: 16px;
}

.footer__info-contacts-logo {
  display: flex;
  text-decoration: none;
}

.footer__info-contacts-text {
  display: flex;
  margin-top: 24px;
  width: 299px;
}

.footer__info-contacts-tel,
.footer__info-contacts-email {
  display: block;
  margin-top: 24px;
  color: #fff;
  text-decoration: none;
}

.footer__info-contacts-tel:hover,
.footer__info-contacts-email:hover {
  text-decoration: underline;
}

.footer__info-links,
.footer__info-social {
  font-size: 20px;
  line-height: 30px;
}

.footer__info-links ul,
.footer__info-social ul {
  margin-top: 32px;
}

.footer__info-links ul li,
.footer__info-social ul li {
  margin-bottom: 16px;
}

.footer__info-links ul li a,
.footer__info-social ul li a {
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  text-decoration: none;
}

.footer__info-links ul li a:hover,
.footer__info-social ul li a:hover {
  text-decoration: underline;
}

.footer__copyright {
  margin-top: 52px;
  opacity: .4;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,.4);
}

.modal__content {
  position: relative;
  background-color: #fff;
  margin: 5% auto;
  padding: 56px;
  border: 1px solid #888;
  width: 540px;
  height: 800px;
  box-shadow: 5px 10px 50px rgba(16,112,177,.2);
  border-radius: 10px;
}

.modal__title {
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: .04em;
  text-transform: uppercase;
  color: #1f3f68;
}

.modal__submit {
  position: absolute;
  bottom: 34px;
  margin-top: 72px;
  width: 428px;
  height: 72px;
  -webkit-filter: drop-shadow(5px 10px 20px rgba(16, 112, 177, 0.2));
  filter: drop-shadow(5px 10px 20px rgba(16, 112, 177, 0.2));
  background-color: #5a98d0;
  border-color: #5a98d0;
  box-shadow: 5px 20px 50px rgba(16,112,177,.2);
  border-radius: 10px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .04em;
  color: #fff;
}

.modal__submit:hover {
  background-color: #356ead;
}

.name__label {
  margin-bottom: 8px;
  margin-top: 32px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: .04em;
  color: #1f3f68;
  opacity: .8;
}

.input {
  width: 428px;
  height: 72px;
  opacity: .4;
  border: 1px solid #356ead;
  border-radius: 10px;
}

.input_message {
  height: 144px;
}

#inputForm {
  display: flex;
  flex-direction: column;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.error {
  color: red;
}

@media screen and (max-width: 996px) {
  .container {
    width: 100%;
  }

  .container_promo {
    justify-content: flex-start;
    flex-direction: column-reverse;
    align-items: center;
  }

  .container_services {
    grid-template-areas: "title_services" "services_card1" "services_card2" "services_card3";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;
    justify-items: center;
  }

  .container_clients {
    grid-template-areas: "title descr" "client1 client2" "client3 client4" "client5 client6" "client7 more";
    width: 90%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto auto auto;
    align-items: center;
    justify-items: stretch;
  }

  .title_footer {
    text-align: center;
    margin-left: 80px;
  }

  .title_clients {
    text-align: center;
  }

  .button {
    margin-bottom: 71px;
  }

  .button_footer {
    margin: 46px 0;
  }

  .header__menu {
    width: 90%;
  }

  .services__card1 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }

  .services__card2 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }

  .services__card3 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }

  .title_services {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .title_clients {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .clients__descr {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
  }

  main {
    width: 100%;
  }

  .promo-image {
    width: 100%;
    right: 0;
  }

  .promo-info {
    margin-top: 43px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .services {
    padding: 105px 212px;
  }

  .clients {
    height: 1773px;
    padding-top: 79px;
    border-radius: 135px 0px 0px 0px;
  }

  .clients__descr {
    margin-bottom: 58px;
  }

  .clients__logo_2,
  .clients__logo_6 {
    border-right: none;
  }

  .clients__logo_5,
  .clients__logo_6,
  .clients__logo_7 {
    border-bottom: 1px solid #fff;
  }

  .clients__logo-link {
    margin-left: 23%;
  }

  .clients__more a {
    margin-left: 23%;
  }

  .footer {
    width: 95%;
    left: -21px;
    padding-bottom: 32px;
    border-radius: 0px 135px 0px 0px;
  }

  .footer__wrapper {
    flex-direction: column;
  }

  .footer__intro-descr {
    text-align: center;
  }

  .footer__divider {
    margin: 0;
    width: 80%;
  }

  .footer__info {
    width: 80%;
    margin-top: 46px;
    justify-content: flex-end;
  }

  .footer__info-links ul {
    width: 84%;
  }

  .footer__copyright {
    margin-top: 30px;
    margin-left: 55px;
  }
}

@media screen and (max-width: 767px) {
  .container_services {
    gap: 50px;
  }

  .container_clients {
    grid-template-areas: "title" "descr" "client1" "client2" "client3" "client4" "client5" "client6" "client7" "more";
    width: 90%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(9, auto);
  }

  .title {
    font-size: 26px;
    line-height: 36px;
  }

  .title_card {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    width: 80%;
  }

  .title_services {
    margin-top: 36px;
    text-align: center;
  }

  .title_footer {
    width: 55%;
    font-size: 22px;
  }

  .button_promo {
    margin: 43px 0;
  }

  .button_footer {
    width: 187px;
    height: 49px;
  }

  .title_clients {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .clients__descr {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .promo-info__title {
    width: 100%;
    font-size: 42px;
    line-height: 59px;
    text-align: center;
  }

  .promo-info__descr {
    width: 85%;
    text-align: center;
  }

  .services {
    padding: 0;
  }

  .services__card {
    width: 95%;
    height: 450px;
    padding: 0 24px 24px 34px;
  }

  .services__card2 {
    justify-self: unset;
  }

  .services__card__descr {
    font-size: 12px;
  }

  .clients {
    height: 2156px;
    margin-top: 53px;
    padding-top: 49px;
  }

  .clients__descr {
    padding: 0 50px;
    margin-top: 28px;
    font-size: 12px;
    margin-bottom: 24px;
  }

  .clients__logo {
    border-right: none;
  }

  .clients__logo-link {
    padding: 12px;
  }

  .footer {
    bottom: 1268px;
    height: 1268px;
    left: -9px;
    padding-top: 54px;
  }

  .footer__intro-descr {
    font-size: 12px;
    width: 55%;
    margin-left: 23%;
  }

  .footer__info {
    margin-left: 13%;
    flex-direction: column;
  }

  .footer__info-contacts {
    font-size: 14px;
  }

  .footer__info-contacts-tel,
  .footer__info-contacts-email {
    margin-top: 15px;
  }

  .footer__info-links,
  .footer__info-social {
    margin-top: 32px;
    font-size: 16px;
    line-height: 24px;
  }

  .footer__info-links ul li a,
  .footer__info-social ul li a {
    font-size: 12px;
    line-height: 20px;
  }

  .footer__copyright {
    font-size: 12px;
    line-height: 18px;
  }
}