@import 'fonts';

* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	font-family: 'Gilroy';
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
}

.container {
	width: 940px;
	margin: 0 auto;

	&_promo {
		display: flex;
		justify-content: flex-start;
	}

	&_services {
		display: grid;
		gap: 100px;
		grid-template-areas: "title_services services_card1"
			"services_card2 services_card1"
			"services_card2 services_card3"
			". services_card3";
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;

	}

	&_clients {
		display: grid;
		grid-template-areas: "title descr descr descr"
			"client1 client2 client3 client4"
			"client5 client6 client7 more";
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 203px 128px 128px;
	}
}

@media screen and (max-width: 996px) {
	.container {
		width: 100%;

		&_promo {
			justify-content: flex-start;
			flex-direction: column-reverse;
			align-items: center;
		}

		&_services {
			grid-template-areas:
				"title_services"
				"services_card1"
				"services_card2"
				"services_card3";
			grid-template-columns: 1fr;
			grid-template-rows: auto 1fr 1fr 1fr;
			justify-items: center;
		}

		&_clients {
			grid-template-areas:
				"title descr"
				"client1 client2"
				"client3 client4"
				"client5 client6"
				"client7 more";
			width: 90%;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr auto auto auto;
			align-items: center;
			justify-items: stretch;
		}
	}
}

@media screen and (max-width: 767px) {
	.container {
		&_services {
			gap: 50px;
		}

		&_clients {
			grid-template-areas:
				"title"
				"descr"
				"client1"
				"client2"
				"client3"
				"client4"
				"client5"
				"client6"
				"client7"
				"more";
			width: 90%;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr repeat(9, auto);
		}
	}
}

@import '../components/title/title';
@import '../components/button/button';
@import '../components/header/header';
@import '../components/main/main';
@import '../components/footer/footer';
@import '../components/modal/modal';