@import 'fonts';

* {
	box-sizing: border-box;
}

.container {
	width: 940px;
	margin: 0 auto;

	&_promo {
		display: flex;
		justify-content: flex-start;
	}

	&_services {
		display: grid;
		gap: 100px;
		grid-template-areas: "title_services services_card1"
			"services_card2 services_card1"
			"services_card2 services_card3"
			". services_card3";
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;

	}

	&_clients {
		display: grid;
		grid-template-areas: "title descr descr descr"
			"client1 client2 client3 client4"
			"client5 client6 client7 more";
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 203px 128px 128px;
	}
}

@import '../components/title/title';
@import '../components/button/button';
@import '../components/header/header';
@import '../components/main/main';
@import '../components/footer/footer';