.title {
	font-family: 'Gilroy';
	font-size: 36px;
	line-height: 46px;
	letter-spacing: 0.05em;
	color: #316099;

	&_services {
		width: 358px;
	}


	&_card {
		margin-top: 56px;
		font-size: 20px;
		line-height: 30px;
		color: #1F3F68;
	}

	&_clients {
		color: #FFFFFF;
		grid-area: title;
	}
}