.title {
	font-size: 36px;
	line-height: 46px;
	color: #316099;

	&_services {
		width: 358px;
	}


	&_card {
		margin-top: 56px;
		font-size: 20px;
		line-height: 30px;
		color: #1F3F68;
	}

	&_clients {
		grid-area: title;
		color: #FFFFFF;
	}

	&_footer {
		width: 317px;
		color: #FFFFFF;
	}

	&_contacts {
		margin-left: 15px;
		font-size: 28px;
		letter-spacing: 0.02em;
		color: #FFFFFF;
	}
}

@media screen and (max-width: 996px) {
	.title {
		&_footer {
			text-align: center;
			margin-left: 80px;
		}

		&_clients {
			text-align: center;
		}
	}
}