.promo {
	min-height: 680px;
	background: linear-gradient(0deg, #98C3E8 -237.16%, rgba(152, 195, 232, 0) 58.12%);

	&-info {
		margin-top: 101px;
		min-height: 389px;

		&__title {
			width: 510px;
			font-family: 'Galien';
			font-size: 64px;
			line-height: 74px;
			letter-spacing: 0.04em;
			color: #1F3F68;
		}

		&__descr {
			margin-top: 32px;
			width: 425px;
			color: #1F3F68;
			opacity: 0.6;
		}
	}

	&-image {
		position: relative;
		right: 60px;
	}
}

.services {
	padding: 180px 212px 212px 212px;

	&__card {
		padding: 0 48px 48px 48px;
		width: 380px;
		height: 525px;
		background: #FFFFFF;
		box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
		border-radius: 10px;

		&1 {
			grid-area: services_card1;

			& img {
				position: relative;
				bottom: 70px;
			}

			.title_card {
				margin-top: -25px;
			}
		}

		&2 {
			grid-area: services_card2;
			justify-self: end;
		}

		&3 {
			grid-area: services_card3;
		}

		&__img {
			display: block;
			margin: 0 auto;
			margin-top: 48px;
		}

		&__descr {
			margin-top: 16px;
			color: #1F3F68;
			opacity: 0.6;
		}

		&__link {
			margin-top: 32px;
			display: flex;
			align-items: baseline;
			font-weight: 700;
			font-size: 14px;
			line-height: 30px;
			color: #5A98D0;
			text-decoration: none;
		}
	}
}

.arrow {
	display: inline-block;
	cursor: pointer;
	position: relative;
	width: 16px;
	height: 16px;
	margin-left: 24px;
	padding: 4px;

	div {
		position: relative;
		top: 6px;
		width: 16px;
		height: 2px;
		background-color: #5A98D0;
		;
		box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
		left: 0;
		display: block;

		&::after {
			content: '';
			position: absolute;
			width: 12px;
			height: 2px;
			top: -4px;
			right: -1px;
			background-color: #5A98D0;
			transform: rotate(45deg);
		}

		&::before {
			content: '';
			position: absolute;
			width: 12px;
			height: 2px;
			top: 4px;
			right: -1px;
			background-color: #5A98D0;
			box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
			transform: rotate(-45deg);
		}
	}

	&:hover {
		animation: arrow 1s linear infinite;
	}
}

@keyframes arrow {
	0% {
		left: 0;
	}

	50% {
		left: 10px;
	}

	100% {
		left: 0;
	}
}

.title {
	&_services {
		grid-area: title_services;
	}
}

.clients {
	margin: 0 auto;
	padding-top: 96px;
	padding-bottom: 125px;
	width: 1366px;
	height: 1549px;
	border-radius: 200px 0px 0px 0px;
	background: #5A98D0;

	&__descr {
		grid-area: descr;
		padding-left: 97px;
		padding-right: 50px;
		opacity: 0.6;
	}

	&__logo {

		&_1,
		&_2,
		&_3 {
			border-bottom: 1px solid #FFFFFF;
			border-right: 1px solid #FFFFFF;
		}

		&_4 {
			border-bottom: 1px solid #FFFFFF;
		}

		&_5,
		&_6,
		&_7 {
			border-right: 1px solid #FFFFFF;
		}

		&-link {
			display: block;
			padding: 40px;
			text-transform: uppercase;
			text-decoration: none;
			font-size: 20px;
			line-height: 46px;
			letter-spacing: 0.02em;
			color: #FFFFFF;

			&:hover {
				text-decoration: underline;
			}

		}
	}

	&__more {
		width: 100%;
		height: 100%;
		background-color: rgba(31, 63, 104, 0.2);

		& a {
			display: block;
			margin-left: 15px;
			text-transform: none;
		}
	}
}

@media screen and (max-width: 996px) {
	main {
		width: 100%;
	}

	.promo {
		&-image {
			width: 100%;
			right: 0;
		}

		&-info {
			margin-top: 43px;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	.services {
		padding: 105px 212px
	}

	.clients {
		height: 1773px;
		padding-top: 79px;
		border-radius: 135px 0px 0px 0px;

		&__descr {
			margin-bottom: 58px;
		}

		&__logo {

			&_2,
			&_6 {
				border-right: none;
			}

			&_5,
			&_6,
			&_7 {
				border-bottom: 1px solid #FFFFFF;
			}

			&-link {
				margin-left: 23%;
			}
		}

		&__more a {
			margin-left: 23%;
		}
	}
}

@media screen and (max-width: 767px) {
	.promo {
		&-info {
			&__title {
				width: 100%;
				font-size: 42px;
				line-height: 59px;
				text-align: center;
			}

			&__descr {
				width: 85%;
				text-align: center;
			}
		}
	}

	.services {
		padding: 0;

		&__card {
			width: 95%;
			height: 450px;
			padding: 0 24px 24px 34px;

			&2 {
				justify-self: unset;
			}

			&__descr {
				font-size: 12px;
			}
		}
	}

	.clients {
		height: 2156px;
		margin-top: 53px;
		padding-top: 49px;

		&__descr {
			padding: 0 50px;
			margin-top: 28px;
			font-size: 12px;
			margin-bottom: 24px;
		}

		&__logo {
			border-right: none;

			&-link {
				padding: 12px;
			}
		}
	}
}

#popup {
	position: fixed;
	top: 48px;
	left: 33%;
	width: 33%;
	background-color: rgb(91, 241, 91);
	color: rgb(55, 53, 53);
	text-align: center;
	padding: 10px;
	border-radius: 10px;
	display: none;
}