main {
	width: 1366px;
	margin: 0 auto;
}

.promo {
	min-height: 680px;
	background: linear-gradient(0deg, #98C3E8 -237.16%, rgba(152, 195, 232, 0) 58.12%);

	&-info {
		margin-top: 101px;
		min-height: 389px;
		margin-left: 212px;
		width: 510px;

		&__title {
			width: 510px;
			font-family: 'Galien';
			font-size: 64px;
			line-height: 74px;
			letter-spacing: 0.04em;
			color: #1F3F68;
		}

		&__descr {
			margin-top: 32px;
			width: 425px;
			font-family: 'Gilroy';
			font-size: 16px;
			line-height: 26px;
			letter-spacing: 0.05em;
			color: #1F3F68;
			opacity: 0.6;
		}
	}

	&-image {
		position: relative;
		right: 51px;
	}
}

.services {
	padding: 180px 212px 212px 212px;

	&__card {
		width: 380px;
		height: 525px;
		color: beige;
		background-color: blue;

		&1 {
			grid-area: services_card1;
		}

		&2 {
			grid-area: services_card2;
			justify-self: end;
		}

		&3 {
			grid-area: services_card3;
		}
	}
}

.title {
	&_services {
		grid-area: title_services;
	}
}