.footer {
	position: relative;
	padding-top: 91px;
	padding-bottom: 64px;
	left: -48px;
	bottom: 869px;
	margin: 0 auto;
	width: 1270px;
	height: 869px;
	background-color: #316099;
	border-radius: 0px 200px 0px 0px;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__intro {
		&-descr {
			margin-top: 32px;
			width: 460px;
			opacity: 0.6;
		}
	}

	&__divider {
		display: block;
		position: absolute;
		left: 0;
		margin: 96px 0;
		width: 1105px;
		opacity: 0.4;
		border: 1px solid #FFFFFF;
	}

	&__info {
		display: flex;
		justify-content: space-between;
		margin-top: 192px;

		&-contacts {
			& span {
				margin-right: 16px;
			}

			&-logo {
				display: flex;
				text-decoration: none;
			}

			&-text {
				display: flex;
				margin-top: 24px;
				width: 299px;
			}

			&-tel,
			&-email {
				display: block;
				margin-top: 24px;
				color: #FFFFFF;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		&-links,
		&-social {
			font-size: 20px;
			line-height: 30px;

			& ul {
				margin-top: 32px;

				& li {
					margin-bottom: 16px;

					& a {
						font-size: 16px;
						line-height: 26px;
						color: #FFFFFF;
						text-decoration: none;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}

	&__copyright {
		margin-top: 52px;
		opacity: 0.4;
	}
}

@media screen and (max-width: 996px) {
	.footer {
		width: 95%;
		left: -21px;
		padding-bottom: 32px;
		border-radius: 0px 135px 0px 0px;

		&__wrapper {
			flex-direction: column;
		}

		&__intro {
			&-descr {
				text-align: center;
			}
		}

		&__divider {
			margin: 0;
			width: 80%;
		}

		&__info {
			width: 80%;
			margin-top: 46px;
			justify-content: flex-end;

			&-links {
				& ul {
					width: 84%;
				}
			}
		}

		&__copyright {
			margin-top: 30px;
			margin-left: 55px;
		}
	}
}