footer.footer
	.container 
		.footer__wrapper 
			.footer__intro
				h2.title.title_footer Intersted to work with our team?
				p.footer__intro-descr Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
			a(href="#").button.button_footer Let's Talk
		hr.footer__divider
		.footer__info 
			.footer__info-contacts
				a.footer__info-contacts__logo(href="#") 
					img(src="images/afr_logo.svg", alt="afrianska_logo")
					h3.title.title_contacts Afrianska
			.footer__info-links 
			.footer__info-social

