footer.footer
	.container 
		.footer__wrapper 
			.footer__intro
				h2.title.title_footer Intersted to work with our team?
				p.footer__intro-descr Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
			a(href="#").button.button_footer Let's Talk
		hr.footer__divider
		.footer__info 
			.footer__info-contacts
				a.footer__info-contacts-logo(href="#") 
					img(src="images/afr_logo.svg", alt="afrianska_logo")
					h3.title.title_contacts Afrianska
				.footer__info-contacts-text 
					span A. 
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit.  
				a.footer__info-contacts-tel(href="tel:+62-812-7313-4321") 
					span T. 
					| +62-812-7313-4321
				a.footer__info-contacts-email(href="mailto:hello.afrian@gmail.com") 
					span E.  
					| hello.afrian@gmail.com
			.footer__info-links About US
				ul
					li 
						a(href="#") About
					li 
						a(href="#") What We Do
					li 
						a(href="#") Project
					li 
						a(href="#") How It Work With Us
			.footer__info-social Follow US
				ul
					li 
						a(href="#") Instagram
					li 
						a(href="#") Facebook
					li 
						a(href="#") LinkedIn
					li 
						a(href="#") Youtube
		.footer__copyright 2019 © Afrianska. All rights reserved.

